html{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
}

body{
    background-color:cornsilk;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    
}

.card{
   background-color:blanchedalmond;
   width: 400px; 
   padding: 30px;
   border: none;
    border-radius: 7px;
    }

img{
    width: 400px;
    border: none;
    margin: 0px;
    border-radius: 5px;
    border: 5px solid pink;
    /* box-shadow: -7px 7px 10px palevioletred; */
}

.btn{
    margin-top: 15px;
    display: flex;
    justify-content: space-evenly;
}

.nature{
    text-align: center;
    width: 70px;
    border-style:solid;
    border-color: black;
    border-width: 1px;
    border-radius: 5px;
    background: transparent;
    }

    .lake{
    text-align: center;
    width: 70px;
    border-style:solid;
    border-color: black;
    border-width: 1px;
    border-radius: 5px;
    background: transparent;
    }

    h1{
       text-decoration:underline;
       text-transform: capitalize;
       font-style: oblique;
    }

    .button{
        width: 100px;
        height: 25px;
        background-color: white;
        border-radius: 5px;
        margin-left:35% ;
        color: whitesmoke;
        background-color: darkmagenta;
        }

    .button:hover{
        background-color: rgb(154, 111, 196);
        color:black ;
        transition:all 1.0s ease-in ;
    }